@import "./variables";

/* ボタン */
.btn{
	position: relative;
	z-index: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 1.2em 1.4em;
	background: transparent center center no-repeat;
	background-size: cover;
	font-size: 16px;
	font-weight: $font-weight-bold;
	color: $light;
	line-height: 1;
	text-decoration: none;
	border-radius: $border-radius-small;
	border: 4px solid $default;

	&::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		display: block;
		background-color: $default;
		transform-origin: left center;
		transform: scaleX(1);
		transition: transform 0.3s 0s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	.icon{
		font-size: 1.4em;
		margin-right: 4px;
		margin-left: 4px;
	}

	&:hover, &:focus{
		outline: none;
		opacity: 1;
		color: $default;
		&::before{
			transform-origin: right center;
			transform: scaleX(0);
		}
	}

	&.is-primary{
		border-color: $primary;
		&::before{
			background-color: $primary;
		}
		&:hover, &:focus{
			color: $primary;
		}
	}
	&.is-secondary{
		border-color: $secondary;
		&::before{
			background-color: $secondary;
		}
		&:hover, &:focus{
			color: $secondary;
		}
	}
	&.is-danger{
		border-color: $danger;
		&::before{
			background-color: $danger;
		}
		&:hover, &:focus{
			color: $danger;
		}
	}
	&.is-light{
		border-color: $light;
		&::before{
			background-color: $light;
		}
		&:hover, &:focus{
			color: $light;
		}
	}

	&.is-disabled{
		filter:grayscale(100%);
		pointer-events: none;
	}

	&.is-rounded{
		border-radius: $border-radius-full;
	}
}

.block{
	&.is-bg-primary{
		.btn.is-primary{
			color: $primary;
			&:hover{
				box-shadow:0px 4px 0px 0px $primary-darken;
			}
		}
		.btn.is-light{
			&:hover{
				box-shadow:0px 4px 0px 0px $primary-darken;
			}
		}
	}
	&:not([data-bg=true]){
		.btn.is-light{
			border: $border-base;
			border-color: $primary;
		}
	}
}
