@import "./variables";

//Gutenberg編集画面の変更
.block-editor-block-list__layout{
	padding-left: 24px;
	padding-right: 24px;
	.wp-block.block-editor-block-list__block{
		max-width: 100%;
	}
}
.edit-post-sidebar{
	width: 500px;
}


//Lazyblocksについて
.lazyblock{
}
