@import "./variables";

body > footer{
	display: flex;
	justify-content: space-between;
	padding: 36px;
	font-family: $font-family-ja;
	font-weight: $font-weight-bold;
	.footer-menu{
		display: flex;
		align-items: center;
		.menu-item{
			display: inline-flex;
			align-items: center;
			font-size: 10px;
			text-decoration: none;
			& + .menu-item{
				margin-left: 8px;
				&::before{
					content: "";
					display: inline-block;
					width: 1px;
					height: 1em;
					background-color: $default;
					margin-right: 8px;
					transform: translateY(-1px);
				}
			}
		}
	}
	.page-top{
		display: block;
		max-width: 46px;
	}
}
