@import "./variables";

body > header{
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row-reverse;
	padding: 36px;
	font-family: $font-family-en;
	line-height: 1;
	color: $light;
	pointer-events: none;
	background-color: rgba($black, .0);
	transition: color .25s ease, background-color .5s ease;

	&.is-default{
		color: $default;

		h1{
			//transform: scale(.6);
		}

		#menu-toggle{
			& + label{
				//transform: scale(.6);
				.icon{
					background-color: $default;
				}
			}
		}
	}

	&.is-menu-open{
		background-color: rgba($black, .6);
		pointer-events: auto;
	}

	h1{
		position: relative;
		z-index: 1;
		font-size: 36px;
		margin: 0;
		transform-origin: top left;
		transition: transform .25s ease;
		a{
			color: inherit;
			text-decoration: none;
			pointer-events: auto;
			small{
				font-size: 24px / 36px * 1em;
			}
		}
	}

	// メニュートグル設定
	#menu-toggle{
		// トグルボタンの見た目
		display: none;
		& + label{
			position: relative;
			z-index: 1;
			display: block;
			pointer-events: auto;
			cursor: pointer;
			transform-origin: top right;
			transition: transform .25s ease;
			.icon{
				font-size: 32px;
				display: none;
				background-color: $light;
			}
		}

		& ~ .menu{
			$disabled-color: $gray;

			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 0;
			width: 100%;
			height: 100%;
			margin: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $light;

			animation-duration: .35s;
			animation-timing-function: ease-in-out;
			animation-delay: 0s;
			animation-iteration-count: 1;
			animation-direction: normal;
			animation-fill-mode: both;

			.global-menu{
				display: inline-flex;
				flex-direction: column;
				list-style: none;
				margin: 0;
				padding: 0;
				color: $default;
				> .menu-item{
					display: flex;
					flex-direction: column;
					& + .menu-item{
						margin-top: 4.5em;
					}
					> a{
						color: inherit;
						text-decoration: none;
						font-size: 60px;
						pointer-events: auto;
					}

					&.is-disabled > a{
						pointer-events: none;
						color: $disabled-color;
					}
				}

				.child-menu{
					display: inline-flex;
					list-style: none;
					padding: 0;
					margin-top: 1em;
					> .menu-item{
						display: inline-flex;
						align-items: center;
						& + .menu-item{
							&::before{
								content: "／";
								margin: 0 .5em;
							}
							&.is-disabled::before{
								color: $disabled-color;
							}
						}
						> a{
							font-family: $font-family-mix;
							font-size: 16px;
							font-weight: $font-weight-bold;
							text-decoration: none;
							pointer-events: auto;
							> .icon{
								font-size: 24px;
							}
						}

						&.is-disabled > a{
							pointer-events: none;
							color: $disabled-color;

							> .icon{
								background-color: $disabled-color;
							}
						}
					}
				}
			}
		}

		// checkboxの状態に応じた開閉設定
		&:not(:checked){
			& + label{
				.icon{
					&.is-menu {display: block;}
					&.is-cross {display: none;}
				}
			}
			& ~ .menu{
				animation-name: hide-anime;
			}
			& ~ .overlay{opacity: 0;}
		}
		&:checked{
			& + label{
				.icon{
					background-color: $default;
					&.is-menu {display: none;}
					&.is-cross {display: block;}
				}
			}
			& ~ h1{color: $default}
			& ~ .menu{
				animation-name: show-anime;
			}
			& ~ .overlay{opacity: 1;}
		}
		@keyframes show-anime {
			0%   {clip-path: inset(0 0 100vh 0);}
			100% {clip-path: inset(0 0 0 0);}
		}
		@keyframes hide-anime {
			0%   {clip-path: inset(0 0 0 0);}
			100% {clip-path: inset(0 0 100vh 0);}
		}
	}
}
