@import "./variables";

@mixin icon-menu($color:$default) {
	background-color: $color;
	mask-image: url(../img/icon_menu.svg);
}
@mixin icon-cross($color:$default) {
	background-color: $color;
	mask-image: url(../img/icon_cross.svg);
}
@mixin icon-facebook($color:$default) {
	background-color: $color;
	mask-image: url(../img/icon_facebook.svg);
}
@mixin icon-twitter($color:$default) {
	background-color: $color;
	mask-image: url(../img/icon_twitter.svg);
}
@mixin icon-instagram($color:$default) {
	background-color: $color;
	mask-image: url(../img/icon_instagram.svg);
}
.icon{
	&,&::after {width: 1em; height: 1em;}
	font-size: 13px;
	display: inline-block;
	mask-size: contain;

	&.is-menu{@include icon-menu();}
	&.is-cross{@include icon-cross();}
	&.is-facebook{@include icon-facebook();}
	&.is-twitter{@include icon-twitter();}
	&.is-instagram{@include icon-instagram();}

	@each $colorStr in $colors-str{
		$index-key: index($colors-str, $colorStr);  //インデックスを取得
		&.is-menu.is-#{$colorStr}{@include icon-menu(nth($colors, $index-key));}
		&.is-cross.is-#{$colorStr}{@include icon-cross(nth($colors, $index-key));}
		&.is-facebook.is-#{$colorStr}{@include icon-facebook(nth($colors, $index-key));}
		&.is-twitter.is-#{$colorStr}{@include icon-twitter(nth($colors, $index-key));}
		&.is-instagram.is-#{$colorStr}{@include icon-instagram(nth($colors, $index-key));}
	}
}
