@import "../variables";


// BUSINESS
.block-insert.business{
	min-height: auto;
	text-align: left;

	figure{
		background-color: $white;
		min-height: 560px;
		height: 50vh;
		margin-top: 40px;
		margin-bottom: 40px;
		overflow: hidden;

		> img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	& + .block-insert.business{
		margin-top: -240px
	}

	&.is-horizontal{
		display: flex;
		justify-content: center;
		align-items: center;

		.text{
			.description{
				width: 400px;
			}
		}
		figure{
			width: 520px;
			margin: 0;
		}

		&:nth-child(odd){
			.text{
				margin-left: 60px;
			}
			figure{
				order: -1;
			}
		}

		&:nth-child(even){
			.text{
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				order: -1;
				text-align: right;
				margin-right: 60px;
				.description{
					text-align: left;
				}
			}
		}
	}
}
