@import "../variables";


// MEMBER
.block-insert.member{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.title-ja{
		font-size: 44px;
	}

	.member-list{
		$face-img-width: 260px;
		$text-width: 500px;

		padding: 0;
		width: $face-img-width * 2 + $text-width;
		.member-item{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: 80px;

			&:nth-child(even){
				justify-content: flex-end;
				.member-text{
					order: -1;
					text-align: right;
					.member-description{
						text-align: left;
					}
				}
			}

			> figure{
				max-width: $face-img-width;
				padding: 0 36px
			}
			.member-text{
				width: $text-width;
				text-align: left;

				.member-name{
					font-weight: $font-weight-bold;
					font-size: 44px;
					margin: 0;
					line-height: 1;
				}
				.member-title{
					font-weight: $font-weight-normal;
					font-size: 12px;
				}
				.member-description{
					font-weight: $font-weight-bold;
					font-size: 16px;
				}
			}
		}
	}
}
