@import "../variables";


// partnar
.block-insert.partnar{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.title-ja{
		font-size: 44px;
	}

	.partnar-list{
		$face-img-width: 200px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
		.partnar-item{
			$side-space: 24px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 60px;
			padding-left: $side-space;
			padding-right: $side-space;

			> figure{
				width: 160px;
				height: 200px;
				padding: 12px;
				>img{
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
			.partnar-text{
				.partnar-name{
					font-weight: $font-weight-bold;
					font-size: 20px;
					margin: 0;
					line-height: 1;
				}
				.partnar-title{
					font-weight: $font-weight-bold;
					font-size: 12px;
				}
				.partnar-masterpiece{
					display: flex;
					flex-direction: column;
					list-style: none;
					padding: 0;
					font-weight: $font-weight-normal;
					font-size: 12px;
				}
			}
		}
	}
}
