@import "../variables";


// MISSION
#top{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100vw;
	height: 100vh;
	background-color: $light;

	.top-main{
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		text-align: center;
		transform: scale(.95);
		color: $light-gray;

		.catch{
			font-family: $font-family-ja;
			font-weight: $font-weight-bold;
			font-size: 24px;
			letter-spacing: 2.5px;
			margin: 0;
			width: 100vw;
		}
		.company-name{
			font-family: $font-family-en;
			font-size: 72px;
			line-height: 1;
			margin: 8px 0 0;
			width: 100vw;
			small{
				font-size: 34px / 46px * 1em;
			}
		}
	}

	.bg{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
		background-color: $light-gray;
		transition: all 1s ease-out;
	}

	&.is-show{
		.top-main{
			color: $default;
			transform: scale(1);
			transition: all 3s ease-out;
		}
		.bg{
			background-color: $light;
		}
	}
	&.is-hide{
		opacity: 0;
		transition: opacity .25s ease;
		pointer-events: none;
	}
}
