@import "../variables";


// VISION
#vision{
	position: relative;
	color: $light;
	height: 100vh;

	.vision-main{
		position: absolute;
		bottom: 36px;
		left: 36px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		text-align: left;

		.title-en{
			font-family: $font-family-en;
			font-size: 24px;
			margin-top: 0;
			margin-bottom: 0;
			text-shadow: 0 0 16px rgba($default, .25);
		}
		.title-ja{
			font-family: $font-family-base;
			font-weight: $font-weight-bold;
			font-size: 64px;
			margin-top: 0;
			margin-bottom: 0;
			line-height: calc(78 / 64);
			text-shadow: 0 0 16px rgba($default, .25);
		}
		.description{
			font-family: $font-family-base;
			font-weight: $font-weight-bold;
			font-size: 18px;
			line-height: calc(32 / 18);
			text-shadow: 0 0 16px rgba($default, .25);
			margin-bottom: 0;
		}
	}

	.copyright{
		position: absolute;
		bottom: 36px;
		right: 36px;
	}

	.swiper-container{
		position: relative;
		z-index: 0;
		height: 100%;
		.swiper-wrapper{
			.swiper-slide{
				width: 100%;
				height: 100%;
				opacity: 1 !important;

				// ここからは切り替わりの独自エフェクト設定
				.slide-inner {
					width: 100%;
					height: 100%;
					transition: opacity .5s ease-in;
					clip-path: inset(0 100vw 0 0);//隠す
					> img{
						width: 100%;
						height: 100%;
						object-fit: cover;
						transform: scale(1.3) translateX(-80px);
						transition: transform 9s cubic-bezier(0,1.13,.46,.97);
					}
				}
				&.swiper-slide-prev,
				&.swiper-slide-active,
				&.swiper-slide-duplicate-active {
					.slide-inner {
						animation: anime .35s ease-in-out 0s 1 normal both;
						> img{
							transform: scale(1) translateX(0);
						}
					}
				}
				@keyframes anime {
					0%   {clip-path: inset(0 100vw 0 0);}
					100% {clip-path: inset(0 0 0 0);}
				}
			}
		}
	}
}
